
#work{
    width: 100%;
    height: 100vh;
    padding: 8rem $p 0 $p;
    
    > h1{
        font: 700 2.5rem $text2;
        width: fit-content;
        border-bottom: 1px solid $color6 ;
        padding: 0.5rem;
        margin:auto;
    }

    >section {
        margin-top: 2rem;
        width: 100%;
        // height: 100%;
        display: flex;
        background-color: $color5;
        align-items: center;
        justify-content: center;
        padding-bottom:10rem;

        > article {
            width: 100%;
            // display: flex;
            // align-items: center;
            // border: solid black;
            height: 25vmax;
            // display: flex;
            padding: 2rem;
            
        }
        .carousel{
            // border: solid black;
            display: flex;
            flex-direction: column;
             align-items: center;
             width: 100%;
        }
        // .carousel .control-arrow ::before {
        //     // border: 2px black;
        //     fill: blue;
        // }
        .carousel .control-prev.control-arrow:before{
            border-right: 8px solid black;
        }
        .carousel .control-next.control-arrow:before{
            border-left: 8px solid black;
        }

        .workItem{
            overflow-y:auto ;
            height: 25vmax;
            width: 100%;
            background-color: $color4;
            display: flex;
            // align-items: center;
            // border: solid red; 
            padding: 2rem;
            // box-shadow: 0 0 20px 5px $color1;

            > img{
                border-radius: 20px;
                width: 40%;
                object-fit: cover;
                

                
            }
            > aside {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        > p {
          letter-spacing: 3px;
          line-height: 180%;
          margin: 2rem;
        }
        > a {
          background-color: $color3;
          padding: 0.7rem 2rem;
          margin: 2rem;
          color: $color4;
          transition: all 0.5s;
          &:hover {
            background-color: white;
            color: $color3;
          }
        }
    }
    
    
        }
    }
    
}